.topics-scrollspy {
    position: relative;
    height: 700px;
    font-size: 20px;
    color: rgb(99,46,98);
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

#topics-navbar a{
    color: rgb(99,46,98);
}

#topics-navbar .nav-pills .nav-link.active {
    color: #fff;
    background-color:  rgb(99,46,98);
}

#topics-navbar .navbar {
    display: block;
}
